<div class="aboutme-container">
    <div class="aboutme-text">
        <h1 id="about_me">About me</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quod perferendis eius porro, velit iusto unde non tenetur nostrum molestias nesciunt beatae suscipit eos atque tempore qui corrupti praesentium dolor?
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, perferendis? Iure labore quo commodi tempore, eius, inventore iste, et repellendus optio tempora possimus velit. Sint dolor ipsam facere neque temporibus.
        </span>
    </div>

    <div class="aboutme-img"><img src="../../assets/img/FotoCarnetSinFondo.png" alt="Imagen.perfil">
    </div>

</div>


