<h1 id="projects">Proyectos</h1>
<div class="card-container">
    <div class="card">
        <h2>Projecto </h2>
        <span class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis perferendis debitis provident facere mollitia quaerat praesentium</span>
        <div class="tag">
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
        </div>
        <a href="">Detalles</a>
    </div>
    
    <div class="card">
        <h2>Projecto 1 tata</h2>
        <span class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis perferendis debitis provident facere mollitia quaerat praesentium</span>
        <div class="tag">
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
        </div>
        <a href="">Detalles</a>
    </div>
    
    <div class="card">
        <h2>Projecto 1 tata</h2>
        <span class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis perferendis debitis provident facere mollitia quaerat praesentium</span>
        <div class="tag">
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
        </div>
        <a href="">Detalles</a>
    </div>
    
    <div class="card">
        <h2>Projecto 1 tata</h2>
        <span class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis perferendis debitis provident facere mollitia quaerat praesentium</span>
        <div class="tag">
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
        </div>
        <a href="">Detalles</a>
    </div>
    
    <div class="card">
        <h2>Projecto 1 tata</h2>
        <span class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis perferendis debitis provident facere mollitia quaerat praesentium</span>
        <div class="tag">
            <span class="card-skill">etiquetas</span>
            <span class="card-skill">etiquetas</span>
        </div>
        <a href="">Detalles</a>
    </div>
    
    <div class="card">
        <h2>Projecto 1 tata</h2>
        <span class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis perferendis debitis provident facere mollitia quaerat praesentium</span>
        <div class="tag">
            <span class="card-skill">etiquetas</span>
        </div>
        <a href="">Detalles</a>
    </div>
</div>