<div class="contact-container">
    <div class="contact">
        <h1 id="contact">Contact</h1>
        <div class="contact-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse tempore voluptas, qui laboriosam molestias unde placeat sit voluptatem quis maiores quos deleniti eaque nihil culpa. Ipsa reiciendis maiores necessitatibus.</p>
            <i class="fa-brands fa-whatsapp icons"></i>
            <span>123-456-7890</span>
            <i class="fa-regular fa-envelope icons"></i> 
            <span>0DnZd@example.com</span>
            <app-linkbuttons/>
        </div>
    </div>
    <app-contactform class="contact-form-container"/>
</div>
