<div class="menu">
    <div class="name-container">
        <p class="title-icon">JG</p>
        <div class="name">
            <span class ="name-text">Juan Gordillo<br>
            </span>
            <span class="subtitle">Java developer</span>
        </div>
    </div>

    <div class="button-section">
        <a class="button" href="#about_me">About</a>
        <a class="button" href="#projects">Projects</a>
        <a class="button" href="#skills">Skills</a>
        <a class="button" href="#contact">Contact</a>
    </div>
</div>

